.container {
  color: currentColor;
  border-bottom: 1px solid currentColor;
  padding: 0 0 2px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0.75em 0;
}

.select {
  border: none;
  width: 100%;
  background-color: transparent;
  color: currentColor;
  border-radius: 0;
  padding: 0.2em 0;
  height: 2em;
  font-size: 0.875rem;
}

.labelText {
  font-size: 0.7rem;
  display: block;
}
