.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.app-map {
  width: 70%;
  flex: 1 1 auto;
}

.app-events {
  width: 30%;
  padding: 10px;
  flex: 1 0 auto;
  min-width: 300px;
  height: 100vh;
  overflow: auto;
}

.event {
  margin-bottom: 10px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}


