body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  width: inherit;
  height: inherit;
}

select, input {
  height: 30px;
  font-size: 1em;
  padding: 0;
  box-sizing: border-box;

}


.leaflet-container {
  width: 100%;
  height: 100%;
}

