.container {
  color: currentColor;
  border-bottom: 1px solid currentColor;
  padding: 0 0 2px;
}

.select {
  border: none;
  width: 100%;
  background-color: transparent;
  color: currentColor;

  font-size: 0.875rem;
  border-radius: 0;

}
